/* Login */

.container-login, .container-reset-password {
    margin-top: 150px;
}

div.modal-footer{
    justify-content: center;
    border: none;
  
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}


input.form-control.email-input:focus, input.form-control.email-input:active {
  
    background-color: transparent !important;
    box-shadow: transparent !important;
}


.font-weight-light a{
    color:#2BBBAD;  
}

.Toastify__toast{
    text-align: center !important;
}
/* Reset Password */
.container-reset-password-email {
    position: relative;
    top: -360px;
    background-color: #ffffff;
    
box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);
font-size: 17px;
max-width: 600px !important;
max-height: 600px;
padding-top: 40px;
padding-bottom: 40px;
}

.btn-secondary.btn-outline-secondary.btn.Ripple-parent {
border-color: #2BBBAD !important;
color:#2BBBAD !important;
}

.button-reset-password-email {
    position: relative;
    left: 95%;
    top: -18px;
    border-style:none;
    border-color:transparent;
    background-color: transparent;
    color:#2BBBAD;
}

.h5.text-center.mb-4{
    color:#2BBBAD;
}

.validator-error {
    color: red;
    margin-left: 40px;
}