@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');


.not-found {
    font-size: 220px;
    font-weight: 700;
    font-family: 'Girassol', cursive
}

.oops-text {
    background: #fff;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    font-size: 45px !important;
}

.not-found-text {
    font-family: 'Manrope', sans-serif;
    font-size: 22px
}

.send {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 54px;
    font-family: 'Manrope', sans-serif;
    box-shadow: 2px 3px #dc3545
}

.send:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 54px;
    box-shadow: 2px 3px #dc3545
}

.btn.btn-success.send.px-3{
    background-color:#2BBBAD !important;
    font-weight: bold !important;
}

