.footer {
  height: 3.1em;
  bottom: 0;
  width: 100%;
  position:absolute;

}

/* footer{
margin-top:100px !important;
width: 100%;
} */

.container.text-center.text-md-start.mt-5 {
    justify-content: space-around !important;
  
}

.row mt-3{
    justify-content: space-around !important;
}

.col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4{
    text-align: justify;
}

.email-footer{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}



@media only screen and (max-width: 790px) {
    footer{
        margin-top:150
        px !important;
        }

    .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4 {
       text-align: center;
    }
  }