.home-page-picture {
  background-size: cover;
  background-position: center center;
  height: 68vh;
  width: 100%;
  opacity: 0.9;
  text-align: center;
}

.home-page-picture-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding-top: 80px;
}

.home-page-picture-text {
  color: white;
  text-align: center;
  font-size: 21px;
  padding-top: 40px;
}

.home-page-picture-button,.blue-cars-content-models-button {
  padding: 8px;
  border-color: #2bbbad;
  border-width: 4.8px;
  margin-top: 40px;
  outline: none;
  transition-duration: 0.4s;
  text-transform: uppercase;
  color: #2bbbad;
}

.blue-cars-content-models-button{
    padding: 5px;
    text-align: center;
    margin-top: 4px;
    box-shadow: none;
}

.home-page-picture-button:focus,.blue-cars-content-models-button:focus {
  outline: none !important;
  border-color: #2bbbad;
}

.home-page-picture-button:hover,.blue-cars-content-models-button:hover {
  background-color: #2bbbad;
  color: white;
}

.home-page-middle-content {
  text-align: center;
}

.home-page-middle-content > p {
  width: 78%;
  margin: auto;
  padding-top: 30px;
}
.why-us {
  color: #2bbbad;
  padding-top: 80px;
}

.why-us-icons {
  /* width: 100%;
  padding: 35px;
  display: block;
  padding-bottom: 100px;
  padding-top: 80px; */

  width: 100%;
  padding: 25px;
  display: flex;
  padding-bottom: 100px;
  padding-top: 80px;
  white-space: break-spaces;
  align-items: flex-end;
  justify-content: space-around
}


div.why-us-first-icon,
div.why-us-second-icon,
div.why-us-third-icon {
  width: 29%;
  display: inline-block;
}

.why-us-first-icon-img,
.why-us-second-icon-img,
.why-us-third-icon-img {
  width: 60%;
}

.blue-cars-container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.075);
  padding: 50px;
  flex-direction: row;
  margin-bottom: 180px;
}

.blue-cars {
  width: 40%;
  display: inline-block;
}

.blue-cars-img {
  width: 100%;
  display: inline-block;
}

.blue-cars-content {
  display: inline-block;
  width: 39%;
  padding-left: 50px;
}

.blue-cars-content-models-first,
.blue-cars-content-models-second,
.blue-cars-content-models-third {
  display: inline-block;
}

.blue-cars-content-models{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width:94%
}

.blue-cars-content-models > button {
    text-align: center;
    padding: 3px !important;
}



@media only screen and (max-width: 1000px) {
  .blue-cars-container, .blue-cars-content-models {
    flex-direction: column;
  }

  .blue-cars-content-models{
  width: 100%;
  }

  .blue-cars-content {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
  
  }

 
  .blue-cars{
    width:60%;
    text-align: center;
  }

  .blue-cars-content h3 {
    font-size: 20px;
  }

  .why-us-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px ;
  }

  .why-us-icons h3 {
      font-size: 20px;
      padding-bottom: 8px;
      padding-top: 8px;
  }
}