.all-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.btn-default.btn.Ripple-parent.show-more-btn.mb-5 {
  width: 35%;
  margin-bottom: 8rem;
  margin-top: 4rem !important;
  width: 22.5rem !important;
}

#service-card {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  width: 33rem;
  height: 11.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #e0e0e04d;
}

.h1-responsive.font-weight-bold.my-5 {
  display: block;
  text-align: center;
  margin-bottom: 1.5rem !important;
}

h2.service-card-text {
  padding-left: 10px;
  padding-top: 8px;
  text-align: center;
}

.service-description {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;

}

.service-price {
  text-align: center;
  font-weight: bold;
  color: #DC3D24;
}

.service-price,
.service-description {
  font-size: 16px;
}

.services-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-submit-form {
  position: relative;
  top: 120px;
  background-color: #ffffff;
    
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  font-size: 17px;
  max-width: 1000px !important;
  max-height: 600px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.service-buttons {
  display: flex;
}

.price-legend{
  text-align: center;
}
.price-legend-table{
  text-align: center;
}

.service-add-button{
  text-align: center;
}

.class-table, .class-table td, .class-table tr{
  width:15%;
  border: 1px solid black;
 
}


.class-table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

}

.price-multiplayer{
  color:red;
  font-size: 13px;
}
