button.btn.btn-primary {
background-color: #2bbbad !important;
}

button.btn.btn-secondary {
    background-color:white !important; 
    border-style: solid;
    border-color:#2bbbad !important; 
    border-width: medium;
    color: #2bbbad !important;
}