.all-brands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content:center;
  position: relative;
  flex-wrap: wrap;
}

.btn-default.btn.Ripple-parent.show-more-btn.mb-5 {
  width: 35%;
  margin-bottom: 8rem;
  margin-top: 4rem !important;
  width: 22.5rem !important;
}

#brand-card {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  width: 33rem;
  height: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.h1-responsive.font-weight-bold.my-5 {
  display: block;
  text-align: center;
}

#brand-img{
  width: 155px !important; 
  height: 130px;
}

#brand-text{
  position: relative;
  left: 50%;
  bottom: 60%;
  font-size: 40px;
  font-weight: bold;
}