.navbar-header {
    height: 4.8rem;
}

.nav-link.Ripple-parent {
    font-size: 1.1rem;
}

.nav-link.Ripple-parent {
    margin-left: 2rem
}

.logo {
    width: 100px;
    margin-left: 30px;
    transition: all .15s ease-in-out;
}

.logo:hover {
    transform: scale(1.15);
}

.nav-item {
    margin: 4px;
    transition: all .15s ease-in-out;
}

.nav-item:hover {
    transform: scale(1.15);
}

.fa.fa-user {
    margin-right: 40px !important;
}

.fa.fa-sign-out-alt,
.fa.fa-user {
    color: rgb(255, 255, 255) !important;
    margin-right: 30px;
    margin-top: 12px;
    margin-left: -10px;
    padding: 0;
    font-size: 18px;
}

.fa.fa-sign-out-alt:hover,
.fa.fa-user:hover {
    cursor: pointer;
    color: rgba(65, 64, 64, 0.788) !important;
}

@media only screen and (max-width: 900px) {
    .nav-item {
        margin: 2px
    }
}