#icons-contact-form {
    border-style: solid;
    border-color: #2196F3;
    border-radius: 50%;
    padding:12px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    font-size: 17px;
}

.fa.fa-map-marker-alt.fa-2x.blue-text{
padding-left:14px !important;
padding-right:14px !important;
}

.fa.fa-envelope.fa-2x.blue-text mt-4{
    padding-top:15px !important;
    padding-bottom:15px !important;
}

#icons-contact-form{
    margin-bottom:1px;
}

.contact-form-info p {
    margin-bottom:0px;
    margin-top:5px;
}

.container.contact-form-container{
margin-bottom:120px
}

