
.container-change-password {
text-align: center;
padding-left: 20px;
width:200px;
background-color:rgba(255, 255, 255, 0.76);
box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);
}

.additional-text {
  color:rgb(94, 94, 94);
}

.validator-error {
  color: red;
  margin-left: 40px;
}

.change-pass-header{
  padding:10px;
}

button.btn-default.btn.Ripple-parent.change-pass-btn{
  margin-top: -13px;
  margin-bottom: 60px;
}

/* div.row.change-pass-row{
  margin-left: -340px;
} */

.col-md-6.change-pass-col {
  width:70%;
}
.black-text{
  color:rgb(95, 93, 93);
}

input.form-control.change-pass-field > label {
  color: black;
}

.black-text > .md-form label {
  color:rgb(107, 107, 107);
}