<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>A simple, clean, and responsive HTML invoice template</title>

		<style>
			.invoice-box {
				max-width: 800px;
				margin: auto;
				padding: 30px;
				border: 1px solid #eee;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
				font-size: 16px;
				line-height: 24px;
				font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
				color: #555;
			}

			.invoice-box table {
				width: 100%;
				line-height: inherit;
				text-align: left;
			}

			.invoice-box table td {
				padding: 5px;
				vertical-align: top;
			}

			.invoice-box table tr td:nth-child(2) {
				text-align: right;
			}

			.invoice-box table tr.top table td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.top table td.title {
				font-size: 45px;
				line-height: 45px;
				color: #333;
			}

			.invoice-box table tr.information table td {
				padding-bottom: 40px;
			}

			.invoice-box table tr.heading td {
				background: #eee;
				border-bottom: 1px solid #ddd;
				font-weight: bold;
			}

			.invoice-box table tr.details td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.item td {
				border-bottom: 1px solid #eee;
			}

			.invoice-box table tr.item.last td {
				border-bottom: none;
			}

			.invoice-box table tr.total td:nth-child(2) {
				border-top: 2px solid #eee;
				font-weight: bold;
			}

			.multiplier{
				color:red;
			}

			@media only screen and (max-width: 600px) {
				.invoice-box table tr.top table td {
					width: 100%;
					display: block;
					text-align: center;
				}

				.invoice-box table tr.information table td {
					width: 100%;
					display: block;
					text-align: center;
				}
			}

			/** RTL **/
			.invoice-box.rtl {
				direction: rtl;
				font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
			}

			.invoice-box.rtl table {
				text-align: left;
			}

			.invoice-box.rtl table tr td:nth-child(2) {
				text-align: left;
			}

			.add-info{
                font-size: 12px;
                color:red;
                text-align: center;
            }

            .multipliers-class{
                padding-top:0px;
                font-size: 11px;
            }

            .multiplier{
             padding-bottom:0px;
             }
		</style>
	</head>

	<body>
		<div class="invoice-box">
			<table cellpadding="0" cellspacing="0">
				<tr class="top">
					<td colspan="2">
						<table>
							<tr>
								
								<td>
									Order #: {{data.order_id}}<br />
									Issue date: {{data.issue_date}}<br />
									Due date: {{data.due_date}}
								</td>
								<td>
									Client: {{data.fullname}} <br />
									{{data.street_address}}<br />
									{{data.postal_code}} {{data.city}} <br />
									{{data.country}}<br />
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="2">
						<table>
							<tr>
								<td>
									Employee: {{data.employee_full_name}}<br />
									Status: {{data.status}}<br />
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="heading">
					<td>Brand: </td>

					<td>Car details: </td>
				</tr>

				<tr class="details">
					<td> {{data.brand_name}} {{data.model_name}} {{data.year}}</td>

					<td>Class: {{data.class}}<br /> 
						Engine: {{data.engine}}<br /> 
						Transmission: {{data.transmissions}}<br />
						VIN: {{data.vin}}<br />
						Registration plate: {{data.reg_plate}}<br />
					</td>
				</tr>

				<tr class="heading">
					<td>Item</td>

					<td>Price</td>
				</tr>
				{{#each services}}
				<tr class="item">
					<br />
					<td>{{this.service}}</td>
					<br />
					<td>{{this.price}}</td>
				</tr>
				{{/each}}	

				<tr class="total">
					<td>Total:</td> 
					<td>{{total}}</td>
				</tr>
			
			</table>
			<div class="add-info">
				<p class="multiplier">*The total price varies depending on the class of your vehicle</p>
				<p class="multipliers-class"><b>Class Multipliers:</b> <b>A:</b>1.05; <b>B:</b> 1.10; <b>C:</b> 1.30; <b>D:</b> 1.50; <b>E:</b> 1.65;
					<b>F:</b> 1.80; <b>S:</b> 2.00; </p>
			</div>
		</div>
	</body>
</html>