.nav-link.Ripple-parent {

    border-color: transparent transparent transparent !important;
    border-bottom-width: thick;
    border-bottom-color: grey;
   
} 

.nav-link.Ripple-parent:focus{
    border-color: #dee2e6 #dee2e6 #fff !important;
} 

.nav.nav-tabs.mt-5 {
justify-content: flex-end !important;
}

.btn-default.btn.Ripple-parent.change-pass-btn{
padding-right: 22px;
padding-left: 22px;
}

.btn-toolbar-customer-account {
    text-align: center;
}

.customer-description-card {
    max-height: 100%;
    margin-top: 40px;
    margin-left:-20px;
    display: inline-block;
 
}

.customer-name-card-title, .customer-order-card-title{
    background-color:#E5E5E5;
    padding: 10px;
}

.customer-order-order-id{
    background-color:#2BBBAD;
    padding: 6px;
}

.customer-side-bar{
    /* width: 20%; */
    display: inline-block;
}

.customer-options{
    width: 74%;
    display: inline-block;
    margin-left: 21px;
    text-align: center;

}

.user-account {
    width: 100%;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-origin: border-box;
    height:300%;
    
}  

.card-body-user-account {
    min-height: 750px !important;
}