* {
  padding: 0;
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;

}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  min-height:100%;
  padding:0; 
  margin:0;
  position:relative;
  padding-bottom:50px;

}

main {
  min-height: 100vh;

}
