.rounded.z-depth-1-half.img-fluid{
 width:250px;

}

.row{
    justify-content: center
}

div.card.my-5.px-1.pb-5.text-center {
    margin-top:100px !important;
}


.rounded.z-depth-1-half.img-fluid.Ivo{
width:214px !important;
}