.operations {
  background-repeat: no-repeat;
  background-size: 100%;
}

.operations-buttons {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
} 


